@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h5 {
    font-size: 30px
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    background-color: #d8d7d9;
    border-radius: 15px;
}