<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form>
                <h1>Register</h1>
                <span>To access the website</span>
                <input type="email" placeholder="Email" />
                <input type="password" placeholder="Password" />
                <input type="text" placeholder="First Name" />
                <input type="text" placeholder="Last Name" />
                <input type="tel" placeholder="Phone Number" />
                <input type="text" placeholder="Address" />
                <button>Submit</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-right">
                    <h1>Hello, Friend</h1>
                    <p>If you have an account than go to login page</p>
                    <a href="/"><button class="ghost" id="signup">Log In</button></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>